<p>Welcome to the burgertime app!</p>
<h1>To Eat</h1>
<div>
	<ul>
		{{#each burgers}}
			{{#unless devoured}}
			<li>
				{{burger_name}}
				<form action="/updateBurgerStatus/{{id}}?_method=PUT" method="POST">
					<input type="text" hidden name="devoured" value="1" />
					<button type="submit">EAT ME!</button>
				</form>
			</li>
			{{/unless}}
		{{/each}}
	</ul>
</div>
<h1>Eaten</h1>
<div>
	<ul>
		{{#each burgers}}
			{{#if devoured}}
			<li>
				{{burger_name}}
			</li>
			{{/if}}
		{{/each}}
	</ul>
</div>
<div>
	<h1>Add a burger!</h1>
	<form action="/addBurger" method="POST">
		<input type="text" name="burger_name" required />
		<input type="text" hidden name="devoured" value="false" />
		<button type="submit">ADD</button>
	</form
</div>
